.title {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.container {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
}

.btn {
  background-color: #25408f;
  color: #f3f3f3;
  width: 40%;
  margin: 1.2rem;
}
